{% extends 'base.html' %}

{% block content %}
<div class="row">
    <form class="col s12" action="/login">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Enter ID" id="first_name" type="text" class="validate" name="emp_id">
          <label for="first_name">Employee ID</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="password" class="validate" name="pass">
          <label for="last_name">Password</label>
        </div>
      </div>
      <button></button>
    </form>
  </div>
{% endblock %}k %}